body {
    font-family: Arial, sans-serif;
    background-color: linear-gradient(rgb(14, 17, 36), rgb(36, 26, 73));
}

.dropdown-menu {
    right: 0;
}

/* Hover dropdown trên desktop */
@media (min-width: 992px) {
    #hoverDropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

/* Đổi icon hamburger thành dấu X khi menu mở */
.navbar-toggler.open .navbar-toggler-icon {
    background-image: url("icons/X.svg");
}

/* Mobile menu dọc */
@media (max-width: 991.98px) {
    #mainNavbar {
        background-color: #f8f9fa;
        padding: 1rem;
    }

    .navbar-nav {
        flex-direction: column;
    }

    #hoverDropdown .dropdown-menu {
        display: none;
        position: static;
        float: none;
        width: 100%;
        margin-top: 0.5rem;
    }

    #hoverDropdown.show .dropdown-menu {
        display: block;
    }
}

/* */
.intro-section ul {
    list-style-type: disc;
    display: block;
}

.product-image {
    margin: 20px 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer-icon a {
    margin: 0 10px;
}