body {
    background: linear-gradient(rgb(14, 17, 36), rgb(36, 26, 73));
}

.navbar-nav {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    position: sticky;
    width: 100%;
}

ul li .dropdown-item {
    border: 1px solid white;
}

ul li .dropdown-item:hover {
    background-color: blue;
}

.product-image {
    margin: 20px 0px;
    height: 800px;
    width: 600px;
    object-fit: scale-down;
}

.footer-icon a {
    margin: 0 10px;
}